<h1>Listing bankers</h1>

<table>
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Phonenumber</th>
      <th>Emailaddress</th>
      <th>Branch</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bankers.each do |banker| %>
      <tr>
        <td><%= banker.firstName %></td>
        <td><%= banker.lastName %></td>
        <td><%= banker.phoneNumber %></td>
        <td><%= banker.emailAddress %></td>
        <td><%= banker.branch_id %></td>
        <td><%= link_to 'Show', banker %></td>
        <td><%= link_to 'Edit', edit_banker_path(banker) %></td>
        <td><%= link_to 'Destroy', banker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Banker', new_banker_path %>
